.services {
  padding-top: 300px;
  &__start {
    position: relative;
  }
  &__left {
    background-color: #fff;
    color: black;
    padding: 70px 30px;
    border-radius: 30px;
    width: 80%;
    margin: 0 auto;
    &-title {
      font-size: 30px;
      margin: 0;
      padding: 0;
    }
    &-text {
      max-width: 500px;
      color: rgb(129, 129, 129);
      line-height: 30px;
      margin: 0;
      padding: 0;
    }
    &-text2 {
      max-width: 500px;
      color: rgb(129, 129, 129);
      line-height: 30px;
      margin-top: 20px;
    }
  }
  &__right {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #fff;
    color: black;
    padding: 50px;
    border-radius: 30px;
    width: 40%;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    &-card {
      display: flex;
      align-items: center;
      gap: 30px;
    }
    iframe {
      border-radius: 20px;
      max-width: 500px;
    }
  }
}
@media only screen and (max-width: 1260px) {
  .services {
    &__left {
      width: 80%;
      &-text2 {
        max-width: 400px;
      }
    }
    &__right {
      width: 35%;
      iframe {
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 980px) {
  .services {
    &__left {
      width: 80%;
      &-text2 {
        max-width: 300px;
      }
      &-title {
        font-size: 20px;
      }
    }
  }
}
@media only screen and (max-width: 980px) {
  .services {
    &__left {
      &-text2 {
        font-size: 14px;
        max-width: 300px;
      }
      &-text {
        font-size: 10px;
      }
    }
  }
}
@media only screen and (max-width: 790px) {
  .services {
    padding-top: 50px;
    &__left {
      width: 80%;
      &-text2 {
        font-size: 16px;
        max-width: 100%;
      }
      &-text {
        font-size: 12px;
      }
    }
    &__right {
      margin: 0 auto;
      margin-top: 30px;
      width: 73%;
      position: static;
    }
  }
}
@media only screen and (max-width: 450px) {
  .services {
    padding-top: 50px;
    &__left {
      width: 80%;
      padding: 20px;
      &-title {
        font-size: 18px;
      }
      &-text2 {
        font-size: 12px;
        max-width: 100%;
      }
      &-text {
        font-size: 10px;
      }
    }
    &__right {
      padding: 20px;
      &-card {
        gap: 5px;
      }
      margin: 0 auto;
      margin-top: 30px;
      width: 80%;
      position: static;
    }
    img {
      width: 50px;
    }
  }
}
